@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
  margin: 0 auto;
  padding: 0;
  max-width: 1200px;
  font-family: 'Open Sans', sans-serif;
}
